@using Gitarist.Areas.Admin.Models
@model ArtistRusianViewModel

@{
    ViewBag.Title = "Добавление русского исполнителя";
}



<form action="~/admin/RussianArtist/Add" method="post" name="frmAddRussianArtist" id="frmAddRussianArtist">
    <fieldset form="frmAddRussianArtist">
        <legend>Добавление русского исполнителя</legend>
    
        Имя исполнителя <br> <input type="text" name="Name" value="@Model.name">
        @Html.ValidationMessageFor(model => model.name)
        <br>
        Чпу <br> <input type="text" name="clearUrlName" value="@Model.clearUrlName">
        @Html.ValidationMessageFor(model => model.clearUrlName)
        <br>
        Популяреый исполнитель <br /> @Html.CheckBoxFor(m => Model.isPopular)
        @Html.ValidationMessageFor(model => model.isPopular)
        <br>
        Биография исполнителя <br> <textarea rows="15" cols="50" name="Biography">@Model.biography</textarea><br>
        <br />
        <br />
        <p><input type="submit" value="Добавить"></p>
    </fieldset>
</form>