@using Gitarist.Areas.Admin.Models
@model ArtistForeignViewModel

@{
    ViewBag.Title = "Правка зарубежного исполнителя";
}

<form action="~/admin/ForeignArtist/Edit" method="post" name="frmAddRForeignArtist" id="frmAddRForeignArtist">
    <fieldset form="frmAddForeignArtist">
        <legend>Правка зарубежного исполнителя</legend>
        <input type="hidden" name="Id" value="@Model.id">
        <span>Имя исполнителя</span> <br> <input type="text" name="Name" value="@Model.name">
        @Html.ValidationMessageFor(model => model.name)
        <br>
        <span>Чпу</span> <br> <input type="text" name="clearUrlName" value="@Model.clearUrlName">
        @Html.ValidationMessageFor(model => model.clearUrlName)
        <br>
        <span>Популяреый исполнитель</span> <br />  @Html.CheckBoxFor(m => Model.isPopular)
        @Html.ValidationMessageFor(model => model.isPopular)
        <br>
        <span>Биография исполнителя</span> <br> <textarea rows="15" cols="50" name="Biography">@Model.biography</textarea><br>
        <br>
        <br />
        <p><input type="submit" value="Сохранить"></p>
    </fieldset>
</form>