@using Gitarist.Models.ViewModels
@model ArtistsRusianByLetter
@{
    ViewBag.Title = "Русские исполнители на букву " + @Model.Letter;
 }
    


<h2>Русские исполнители на букву @Model.Letter</h2>
<div class="russianArtistsListByLetter">

    @if (Model.Artists.Count() > 0)
    {
        
        <table class="russianArtistsListByLetterList" cellspacing="0" cellpadding="0" >
            <tr>
                <th width="90%">
                    Исполнитель
                </th>
                <th width="10%">
                    Подборов
                </th>
            </tr>
            @foreach (var artist in Model.Artists)
            { 
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(artist.artist.clearUrlName))
                    {
                        <a href="~/RussianSongs/ArtistSongs/@artist.artist.id">@artist.artist.name</a>
                    }
                    else
                    {
                        <a href="~/RussianSongs/ArtistSongs/@artist.artist.clearUrlName">@artist.artist.name</a>
                    }
                    
                </td>
                <td align="center">
                    @artist.SongCount
                </td>
                
            </tr>        
            }
        </table>
    }
    else
    {
        <p>Нет исполнителей на букву @Model.Letter</p>
    }

</div>

<h2>Русские песни без исполнителя на букву @Model.Letter</h2>
<div class="russianArtistsListByLetter">


    @if (Model.ArtistlessSongs.Count > 0)
    {
       
        <table class="russianArtistsListByLetterList" cellspacing="0" cellpadding="0">
            <tr>
                <th width="80%">
                    Песня
                </th>
                <th width="20%">
                    Тематика
                </th>
            </tr>
            @foreach (var song in Model.ArtistlessSongs)
            {
                <tr>
                    <td>
                        @if (string.IsNullOrEmpty(song.clearUrlName))
                        { 
                            <a href="~/RussianSongs/ShowChords/@song.id">@song.name</a>
                        }
                        else
                        {
                            <a href="~/RussianSongs/ShowChords/@song.clearUrlName">@song.name</a>
                        }
                    </td>
                    <td>
                        @if(song.Theme!=null)
                        { 
                            @song.Theme.name
                        }
                    </td>

                </tr>
            }
        </table>
    }
    else
    {
        <p>Нет песен без исполнителя на букву @Model.Letter</p>
    }

</div>
