@using Gitarist.Helpers;

@model Gitarist.Models.ViewModels.Base.SongViewModel
@{
    ViewBag.Title = "Просмотр песни " + Model.Name;
}

<link rel="stylesheet" type="text/css" href="~/Scripts/Plugins/jquery.transposer.css" />

<h2>Просмотр аккордов песни :
    
    @if (Model.ArtistId.HasValue)
    {
        if (string.IsNullOrEmpty(Model.ArtistClearUrlName))
        {
            <a class="whiteLink" href="~/RussianSongs/ArtistSongs/@Model.ArtistId">@Model.ArtistName</a> @:-
        }
        else
        {
            <a class="whiteLink" href="~/RussianSongs/ArtistSongs/@Model.ArtistClearUrlName">@Model.ArtistName</a> @:-
        }
    }

    @Model.Name
    
</h2> 
<br />
@if (Request.IsAuthenticated)
{
    <a id="editSong" href="~/admin/RussianSong/Edit/@Model.Id">Редактировать песню</a>
}

@{
    int rowsCount = Model.Chords.Split('\n').Length;
    string rowCountClassName = "";
    if (rowsCount >= 0 && rowsCount <= 35)
    { 
        rowCountClassName = "OneColumn";
    }
    else if (rowsCount > 35 && rowsCount <= 70)
    { 
        rowCountClassName = "TwoColumn";
    }
    else if (rowsCount > 70 && rowsCount <= 105)
    {
       rowCountClassName = "ThreeColumn";
    }
    else
    {
        rowCountClassName = "FourColumn";
    }
            
}
<script type="text/javascript" src="~/Scripts/Plugins/jquery.transposer.js"></script>
<script type="text/javascript" src="~/Scripts/My/Site/Chords.js"></script>


<article class="chordsArticle @rowCountClassName">
    <div id="chordPreview"><img></div>  
    <pre class="viewSongChords"  @Html.GetKeyChordKeySongName(Model.Name) >
        @Model.Chords
    </pre>
</article>


